<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Ridley Larsen" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Software Engineer. Curriculum Development, CodeChangers." />
    <meta property="og:url" content="http://www.ridley.xyz/" />
    <title>Ridley Larsen</title>
    <link rel="icon" type="image/png" href="/static/img/favicon-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/img/favicon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/img/favicon-128.png" sizes="128x128">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css" charset="utf-8">
    <link rel="stylesheet" href="/static/css/style.css" charset="utf-8">
</head>
